trajectories
.DS_Store
.direnv
.envrc
.vscode
.python-version
.venv
**/*.mpk
**/*.blend
**/*.blend[0-9]*
**/*.mov
**/*.mp4
generate_data/*.db
generate_data/coloring_files
generate_data/openmdao_checks.out
nn/animation
nn/burn-training-artifacts
nn/target
